# Boston Housing | Exploratory Data Analysis

### Questions To Solve:

What is the distribution of values for each feature in the dataset?

Are there any missing values in the dataset, and if so, how are they distributed across the features?

Are there any outliers or extreme values in the dataset, and how do they affect our understanding of the data?

What is the correlation between each feature and the target variable (MEDV), and which features are most strongly correlated?

Are there any significant differences in the distribution of features between neighborhoods in Boston?

How do different combinations of features affect the distribution of MEDV values in the dataset?

Are there any patterns or trends in the relationship between features and MEDV that can be observed through visualizations?

Are there any interactions or nonlinear relationships between features that affect the target variable?

How do different statistical transformations of the features (such as logarithmic or polynomial transformations) affect the relationship with MEDV?

How well can different regression models predict the target variable based on the available features, and what are the most important predictors for these models?

-----------------------------------------------------------------------
What is the distribution of MEDV values in the dataset?

Which features are most strongly correlated with MEDV?

Is there a relationship between the proportion of non-retail business acres per town (INDUS) and housing prices (MEDV)?

How does the crime rate (CRIM) affect housing prices (MEDV)?

Is there a significant difference in housing prices (MEDV) between neighborhoods with different levels of air pollution (NOX)?

How do the distances to employment centers (DIS) and radial highways (RAD) affect housing prices (MEDV)?

Is there a relationship between the percentage of lower status of the population (LSTAT) and housing prices (MEDV)?

How does the pupil-teacher ratio (PTRATIO) affect housing prices (MEDV)?

Are there any significant differences in housing prices (MEDV) between neighborhoods that border the Charles River (CHAS) and those that do not?

Can we build an accurate regression model to predict housing prices (MEDV) based on the other input features in the dataset?

----------------------------------------------------

https://www.kaggle.com/datasets/vikrishnan/boston-house-prices

ZN: proportion of residential land zoned for lots over 25,000 sq.ft.

INDUS: proportion of non-retail business acres per town

CHAS: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)

NOX: nitric oxides concentration (parts per 10 million)

1https://archive.ics.uci.edu/ml/datasets/Housing

123

20.2. Load the Dataset 124

RM: average number of rooms per dwelling

AGE: proportion of owner-occupied units built prior to 1940

DIS: weighted distances to ﬁve Boston employment centers

RAD: index of accessibility to radial highways

TAX: full-value property-tax rate per $10,000

PTRATIO: pupil-teacher ratio by town 12. 

B: 1000(Bk−0.63)2 where Bk is the proportion of blacks by town 13. 

LSTAT: % lower status of the population

MEDV: Median value of owner-occupied homes in $1000s

We can see that the input attributes have a mixture of units.

-------------------------------------------------------------

### EDA

In [6]:
link = 'https://raw.githubusercontent.com/vishalv91/capstoneproject-realestate/master/HousingData.csv'

In [7]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/vishalv91/capstoneproject-realestate/master/HousingData.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [8]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [10]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [9]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [13]:
df.dropna(inplace=True) # dropping the null rows...

In [25]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000
mean,3.690136,11.460660,11.000863,0.068528,0.553215,6.280015,68.932741,3.805268,9.403553,406.431472,18.537563,358.490939,12.769112,22.359645
std,9.202423,23.954082,6.908364,0.252971,0.113112,0.697985,27.888705,2.098571,8.633451,168.312419,2.166460,89.283295,7.308430,9.142979
min,0.006320,0.000000,0.460000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,2.600000,1.730000,5.000000
25%,0.081955,0.000000,5.130000,0.000000,0.453000,5.879250,45.475000,2.110100,4.000000,280.250000,17.400000,376.707500,7.125000,16.800000
50%,0.268880,0.000000,8.560000,0.000000,0.538000,6.201500,77.700000,3.199200,5.000000,330.000000,19.100000,392.190000,11.300000,21.050000
75%,3.435973,12.500000,18.100000,0.000000,0.624000,6.605500,94.250000,5.116700,24.000000,666.000000,20.200000,396.900000,17.117500,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [14]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 394 entries, 0 to 504
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     394 non-null    float64
 1   ZN       394 non-null    float64
 2   INDUS    394 non-null    float64
 3   CHAS     394 non-null    float64
 4   NOX      394 non-null    float64
 5   RM       394 non-null    float64
 6   AGE      394 non-null    float64
 7   DIS      394 non-null    float64
 8   RAD      394 non-null    int64
 9   TAX      394 non-null    int64
 10  PTRATIO  394 non-null    float64
 11  B        394 non-null    float64
 12  LSTAT    394 non-null    float64
 13  MEDV     394 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 46.2 KB

In [18]:
df[df.duplicated()] # it indicates duplicate values

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT, MEDV]
Index: []

In [24]:
df['RAD'].unique()

array([ 1,  2,  3,  5,  4,  8,  6,  7, 24])

In [23]:
# Not Necessary But might be helpful for other data sets

def find_unique_values(df):
    unique_values = {}
    for col in df.columns:
        unique = df[col].unique()
        unique_values[col] = unique
    return unique_values
find_unique_values(df)

{'CRIM': array([6.32000e-03, 2.73100e-02, 2.72900e-02, 3.23700e-02, 2.98500e-02,
        1.44550e-01, 2.11240e-01, 2.24890e-01, 1.17470e-01, 9.37800e-02,
        6.29760e-01, 6.27390e-01, 1.05393e+00, 7.84200e-01, 8.02710e-01,
        7.25800e-01, 1.25179e+00, 8.52040e-01, 1.23247e+00, 9.88430e-01,
        7.50260e-01, 8.40540e-01, 6.71910e-01, 9.55770e-01, 7.72990e-01,
        1.00245e+00, 1.13081e+00, 1.35472e+00, 1.38799e+00, 1.15172e+00,
        1.61282e+00, 8.01400e-02, 1.75050e-01, 2.76300e-02, 3.35900e-02,
        1.27440e-01, 1.41500e-01, 1.22690e-01, 1.71420e-01, 1.88360e-01,
        2.53870e-01, 2.19770e-01, 8.87300e-02, 5.36000e-02, 1.36000e-02,
        1.31100e-02, 2.05500e-02, 1.43200e-02, 1.54450e-01, 1.03280e-01,
        1.49320e-01, 1.71710e-01, 1.10270e-01, 1.26500e-01, 1.95100e-02,
        3.58400e-02, 4.37900e-02, 5.78900e-02, 1.35540e-01, 1.28160e-01,
        8.82600e-02, 1.58760e-01, 9.16400e-02, 9.51200e-02, 1.01530e-01,
        8.70700e-02, 5.64600e-02, 4.11300e-02, 4.46200e-02, 3.65900e-02,
        3.55100e-02, 5.05900e-02, 5.73500e-02, 5.18800e-02, 5.66000e-02,
        5.30200e-02, 4.68400e-02, 3.93200e-02, 2.87500e-02, 4.29400e-02,
        1.22040e-01, 1.15040e-01, 1.20830e-01, 8.18700e-02, 6.86000e-02,
        1.48660e-01, 1.14320e-01, 2.28760e-01, 1.39600e-01, 1.32620e-01,
        1.71200e-01, 1.31170e-01, 1.28020e-01, 2.63630e-01, 1.07930e-01,
        1.00840e-01, 1.23290e-01, 2.22120e-01, 1.42310e-01, 1.50980e-01,
        6.89900e-02, 7.16500e-02, 9.29900e-02, 9.84900e-02, 1.69020e-01,
        2.59150e-01, 3.25430e-01, 8.81250e-01, 3.40060e-01, 1.19294e+00,
        5.90050e-01, 9.76170e-01, 5.57780e-01, 3.22640e-01, 3.52330e-01,
        5.44520e-01, 2.90900e-01, 1.62864e+00, 3.32105e+00, 4.09740e+00,
        2.77974e+00, 2.37934e+00, 2.73397e+00, 1.49632e+00, 2.14918e+00,
        1.41385e+00, 2.44668e+00, 1.34284e+00, 1.42502e+00, 1.27346e+00,
        1.46336e+00, 1.83377e+00, 2.24236e+00, 2.92400e+00, 2.01019e+00,
        2.30040e+00, 2.44953e+00, 1.20742e+00, 2.31390e+00, 1.39140e-01,
        8.44700e-02, 6.66400e-02, 7.02200e-02, 6.64200e-02, 5.78000e-02,
        6.58800e-02, 6.88800e-02, 9.10300e-02, 8.30800e-02, 6.04700e-02,
        7.87500e-02, 1.25790e-01, 8.37000e-02, 9.06800e-02, 1.43900e-02,
        1.38100e-02, 4.66600e-02, 3.76800e-02, 3.15000e-02, 1.77800e-02,
        3.44500e-02, 2.17700e-02, 3.51000e-02, 2.00900e-02, 1.35870e-01,
        4.35710e-01, 3.75780e-01, 2.17190e-01, 1.40520e-01, 2.89550e-01,
        4.56000e-02, 7.01300e-02, 1.10690e-01, 3.58090e-01, 4.07710e-01,
        6.23560e-01, 6.14700e-01, 3.15330e-01, 5.26930e-01, 4.12380e-01,
        5.37000e-01, 4.62960e-01, 5.75290e-01, 4.47910e-01, 3.30450e-01,
        5.11830e-01, 9.25200e-02, 1.02900e-01, 1.27570e-01, 2.06080e-01,
        3.39830e-01, 1.96570e-01, 1.64390e-01, 1.90730e-01, 1.40300e-01,
        2.14090e-01, 8.22100e-02, 3.68940e-01, 3.54800e-02, 1.53800e-02,
        6.11540e-01, 6.63510e-01, 6.56650e-01, 5.40110e-01, 5.34120e-01,
        8.25260e-01, 5.50070e-01, 7.61620e-01, 5.78340e-01, 5.40500e-01,
        9.06500e-02, 2.99160e-01, 1.14600e-01, 2.21880e-01, 5.64400e-02,
        9.60400e-02, 1.04690e-01, 7.97800e-02, 2.10380e-01, 3.57800e-02,
        6.12900e-02, 1.50100e-02, 9.06000e-03, 1.09600e-02, 3.87100e-02,
        4.29700e-02, 3.50200e-02, 7.88600e-02, 8.26500e-02, 1.29320e-01,
        5.37200e-02, 6.46600e-02, 5.56100e-02, 4.41700e-02, 5.51500e-02,
        7.50300e-02, 4.93200e-02, 4.92980e-01, 3.49400e-01, 2.63548e+00,
        7.90410e-01, 2.61690e-01, 2.69380e-01, 3.69200e-01, 2.53560e-01,
        2.45220e-01, 4.02020e-01, 4.75470e-01, 1.67600e-01, 1.81590e-01,
        3.51140e-01, 2.83920e-01, 3.41090e-01, 1.91860e-01, 3.03470e-01,
        2.41030e-01, 6.61700e-02, 6.72400e-02, 5.02300e-02, 5.08300e-02,
        3.73800e-02, 3.96100e-02, 3.42700e-02, 3.04100e-02, 3.30600e-02,
        5.49700e-02, 6.15100e-02, 1.30100e-02, 2.49800e-02, 2.54300e-02,
        3.11300e-02, 6.16200e-02, 1.87000e-02, 7.95000e-02, 7.24400e-02,
        1.70900e-02, 4.30100e-02, 8.98296e+00, 3.84970e+00, 5.20177e+00,
        4.54192e+00, 3.83684e+00, 3.67822e+00, 4.22239e+00, 3.47428e+00,
        4.55587e+00, 3.69695e+00, 6.53876e+00, 9.23230e+00, 8.26725e+00,
        1.11081e+01, 1.84982e+01, 9.82349e+00, 2.36482e+01, 1.78667e+01,
        8.89762e+01, 1.58744e+01, 9.18702e+00, 2.00849e+01, 1.68118e+01,
        2.43938e+01, 2.25971e+01, 8.15174e+00, 6.96215e+00, 5.29305e+00,
        1.15779e+01, 8.71675e+00, 5.87205e+00, 7.67202e+00, 3.83518e+01,
        9.91655e+00, 2.50461e+01, 9.59571e+00, 2.48017e+01, 4.15292e+01,
        6.79208e+01, 7.40389e+00, 5.11358e+01, 1.40507e+01, 1.88110e+01,
        2.86558e+01, 4.57461e+01, 1.80846e+01, 1.08342e+01, 2.59406e+01,
        7.35341e+01, 1.18123e+01, 1.10874e+01, 7.02259e+00, 1.20482e+01,
        8.79212e+00, 1.58603e+01, 7.36711e+00, 1.00623e+01, 6.44405e+00,
        5.58107e+00, 1.39134e+01, 1.11604e+01, 1.44208e+01, 1.51772e+01,
        1.36781e+01, 9.39063e+00, 9.96654e+00, 1.28023e+01, 1.06718e+01,
        6.28807e+00, 9.92485e+00, 9.32909e+00, 7.52601e+00, 5.09017e+00,
        9.51363e+00, 4.75237e+00, 4.66883e+00, 8.20058e+00, 6.80117e+00,
        3.69311e+00, 6.65492e+00, 5.82115e+00, 7.83932e+00, 4.42228e+00,
        1.55757e+01, 1.30751e+01, 4.34879e+00, 4.03841e+00, 3.56868e+00,
        8.05579e+00, 6.39312e+00, 4.87141e+00, 1.50234e+01, 1.02330e+01,
        5.82401e+00, 5.70818e+00, 2.81838e+00, 2.37857e+00, 3.67367e+00,
        5.69175e+00, 4.83567e+00, 1.50860e-01, 1.83370e-01, 2.07460e-01,
        1.05740e-01, 1.11320e-01, 1.73310e-01, 2.79570e-01, 1.78990e-01,
        2.89600e-01, 2.68380e-01, 2.39120e-01, 1.77830e-01, 2.24380e-01,
        4.52700e-02, 6.07600e-02, 1.09590e-01]),
 'ZN': array([ 18. ,   0. ,  12.5,  75. ,  21. ,  90. ,  85. , 100. ,  25. ,
         17.5,  80. ,  28. ,  45. ,  60. ,  95. ,  82.5,  30. ,  22. ,
         20. ,  40. ,  55. ,  52.5,  70. ,  33. ,  35. ]),
 'INDUS': array([ 2.31,  7.07,  2.18,  7.87,  8.14,  5.96,  2.95,  6.91,  5.64,
         4.  ,  1.22,  0.74,  1.32,  5.13,  1.38,  3.37,  6.07, 10.81,
        12.83,  4.86,  4.49,  3.41, 15.04,  2.89,  8.56, 10.01, 25.65,
        21.89, 19.58,  4.05,  2.46,  3.44,  2.93,  0.46,  1.52,  1.47,
         2.03,  2.68, 10.59, 13.89,  6.2 ,  4.93,  5.86,  3.64,  3.75,
         3.97,  6.96,  6.41,  3.33,  1.21,  2.97,  2.25,  5.32,  4.95,
        13.92,  2.24,  9.9 ,  7.38,  3.24,  6.06,  5.19,  1.89,  3.78,
         4.39,  4.15,  2.01,  1.69,  2.02,  1.91, 18.1 , 27.74,  9.69,
        11.93]),
 'CHAS': array([0., 1.]),
 'NOX': array([0.538 , 0.469 , 0.458 , 0.524 , 0.499 , 0.428 , 0.448 , 0.439 ,
        0.41  , 0.403 , 0.411 , 0.453 , 0.4161, 0.398 , 0.409 , 0.413 ,
        0.437 , 0.426 , 0.449 , 0.489 , 0.464 , 0.445 , 0.52  , 0.547 ,
        0.581 , 0.624 , 0.871 , 0.605 , 0.51  , 0.488 , 0.401 , 0.422 ,
        0.404 , 0.415 , 0.55  , 0.507 , 0.504 , 0.431 , 0.392 , 0.394 ,
        0.647 , 0.575 , 0.447 , 0.4429, 0.4   , 0.389 , 0.405 , 0.472 ,
        0.544 , 0.493 , 0.46  , 0.4379, 0.515 , 0.442 , 0.518 , 0.484 ,
        0.429 , 0.435 , 0.77  , 0.718 , 0.631 , 0.668 , 0.671 , 0.7   ,
        0.693 , 0.597 , 0.679 , 0.614 , 0.584 , 0.713 , 0.74  , 0.655 ,
        0.58  , 0.532 , 0.583 , 0.609 , 0.585 , 0.573 ]),
 'RM': array([6.575, 6.421, 7.185, 6.998, 6.43 , 6.172, 5.631, 6.377, 6.009,
        5.889, 5.949, 5.834, 5.935, 5.99 , 5.456, 5.727, 5.57 , 5.965,
        6.142, 5.813, 5.924, 5.599, 6.047, 6.495, 6.674, 5.713, 6.072,
        5.95 , 5.701, 6.096, 5.85 , 5.966, 6.595, 7.024, 6.77 , 6.169,
        6.069, 5.682, 5.786, 5.399, 5.602, 5.963, 6.511, 5.888, 7.249,
        6.383, 6.816, 6.145, 5.927, 5.741, 6.456, 6.762, 7.104, 6.29 ,
        5.787, 5.878, 5.594, 5.885, 6.417, 5.961, 6.065, 6.286, 6.279,
        6.14 , 6.232, 6.727, 6.619, 6.302, 6.167, 6.389, 6.63 , 6.015,
        7.007, 7.079, 6.405, 6.211, 6.249, 6.625, 6.163, 8.069, 7.82 ,
        7.416, 6.781, 5.851, 5.836, 6.127, 6.474, 6.229, 6.195, 6.715,
        5.913, 6.092, 6.254, 6.021, 5.87 , 6.004, 5.879, 5.986, 5.693,
        6.431, 5.637, 6.458, 6.326, 6.372, 5.757, 6.335, 5.942, 6.454,
        6.151, 6.174, 5.019, 5.403, 5.468, 4.903, 6.13 , 5.597, 5.404,
        5.709, 6.129, 5.272, 6.066, 6.51 , 6.25 , 7.489, 7.802, 5.854,
        6.101, 7.929, 6.319, 6.402, 5.875, 5.88 , 5.572, 5.859, 6.546,
        6.02 , 6.86 , 6.98 , 7.765, 6.144, 7.155, 5.604, 6.153, 6.782,
        6.556, 6.951, 6.604, 7.875, 7.107, 7.274, 6.975, 7.135, 6.162,
        7.61 , 7.853, 8.034, 6.064, 5.344, 5.807, 6.375, 5.412, 6.642,
        5.951, 6.164, 6.879, 6.618, 8.266, 8.725, 7.163, 5.981, 7.412,
        8.337, 6.726, 6.086, 7.358, 6.606, 6.358, 6.393, 5.593, 6.108,
        6.226, 6.433, 6.718, 6.487, 6.438, 6.957, 8.259, 5.876, 7.454,
        8.704, 7.333, 6.842, 7.203, 7.52 , 7.327, 7.206, 5.56 , 8.297,
        7.47 , 5.92 , 5.856, 6.538, 7.691, 6.758, 6.854, 7.267, 6.482,
        6.812, 7.645, 7.923, 7.088, 6.453, 6.209, 6.565, 6.861, 7.148,
        6.678, 6.549, 6.345, 7.041, 6.871, 7.236, 7.42 , 6.849, 6.635,
        5.972, 4.973, 6.122, 6.023, 6.266, 6.567, 5.705, 5.782, 6.382,
        6.113, 6.426, 6.376, 6.041, 5.708, 6.415, 6.312, 6.083, 5.868,
        6.333, 5.706, 6.316, 6.31 , 6.037, 5.869, 5.895, 6.059, 5.985,
        5.968, 7.241, 6.54 , 6.696, 6.014, 5.898, 6.516, 6.579, 5.884,
        6.728, 5.663, 6.212, 6.395, 6.398, 6.251, 5.362, 5.803, 8.78 ,
        3.561, 4.963, 7.016, 6.216, 4.906, 4.138, 6.794, 6.38 , 6.223,
        6.968, 6.545, 5.536, 4.368, 5.277, 4.652, 5.   , 5.39 , 6.051,
        5.036, 6.471, 5.747, 5.453, 5.852, 5.987, 6.404, 5.349, 5.531,
        5.683, 5.617, 6.657, 4.628, 5.155, 4.519, 6.434, 5.304, 5.957,
        6.824, 6.411, 6.006, 5.648, 5.565, 5.896, 6.193, 6.833, 6.425,
        6.436, 6.208, 6.629, 6.461, 6.152, 5.627, 6.485, 6.459, 6.341,
        6.185, 6.297, 6.525, 5.976, 5.936, 6.081, 6.317, 6.513, 6.003,
        5.926, 6.437, 5.427, 6.484, 6.242, 6.75 , 5.762, 5.871, 6.114,
        5.905, 5.454, 5.414, 5.093, 5.983, 5.707, 5.67 , 5.794, 6.019,
        5.569, 6.027, 6.12 , 6.976]),
 'AGE': array([ 65.2,  78.9,  61.1,  45.8,  58.7,  96.1, 100. ,  94.3,  82.9,
         39. ,  61.8,  56.5,  29.3,  81.7,  36.6,  69.5,  98.1,  89.2,
         91.7,  94.1,  85.7,  90.3,  88.8,  94.4,  87.3,  82. ,  95. ,
         96.9,  41.5,  30.2,  21.8,  15.8,   2.9,   6.6,  40. ,  33.8,
         33.3,  95.3,  62. ,  45.7,  21.1,  47.6,  21.9,  35.7,  40.5,
         29.2,  47.2,  66.2,  93.4,  67.8,  43.4,  59.5,  17.8,  31.1,
         21.4,  36.8,  33. ,  17.5,   7.8,  45. ,  74.5,  53.7,  33.5,
         70.4,  32.2,  46.7,  48. ,  56.1,  45.1,  86.3,  63.1,  66.1,
         73.9,  28.9,  77.3,  57.8,  69.6,  76. ,  36.9,  62.5,  79.9,
         71.3,  85.4,  90. ,  96.7,  91.9,  85.2,  97.1,  91.2,  54.4,
         81.6,  92.9,  95.4,  84.2,  82.6,  69.7,  84.1,  95.8,  88.4,
         96. ,  98.8,  94.7,  98.9,  97.7,  97.9,  98.4,  98.2,  93.5,
         93.6,  97.8,  94.9,  98.5,  94. ,  92.6,  90.8,  91.8,  93. ,
         96.2,  95.2,  94.6,  97.3,  88.5,  68.7,  33.1,  74.4,  58.4,
         83.3,  62.2,  92.2,  89.8,  68.8,  41.1,  29.1,  38.9,  21.5,
         18.8,  32. ,  38.3,  15.3,  13.9,  38.4,  15.7,  33.2,  31.9,
         59.1,  88.6,  53.8,  32.3,   9.8,  56. ,  85.1,  93.8,  91.3,
         77.7,  80.8,  78.3,  83. ,  68.1,  76.9,  73.3,  66.5,  61.5,
         71.6,  42.2,  52.9,  76.5,  34.9,  79.2,  49.1,  13. ,   8.9,
          6.8,   8.4,  19.1,  34.2,  86.9,  81.8,  89.4,  94.5,  91.6,
         62.8,  67. ,  52.6,  42.1,  51.8,  32.9,  42.8,  49. ,  32.1,
         64.5,  49.7,  24.8,  20.8,  31.3,  22.9,  27.9,  27.7,  18.4,
         51. ,  20.1,  10. ,  47.4,  71.9,  70.3,  82.5,  76.7,  37.8,
         52.8,  90.4,  82.8,  71.7,  67.2,  58.8,  52.3,  54.3,  49.9,
         74.3,  40.1,  14.7,  43.7,  25.8,  17.2,  28.4,  38.1,  38.5,
         34.5,  46.3,  59.6,  37.3,  45.4,  58.5,  49.3,  59.7,  56.4,
         48.5,  29.7,  35.9,  18.5,  36.1,  97.4,  91. ,  83.4,  88. ,
         91.1,  89. ,  87.9,  91.4,  97.5,  89.6,  99.1,  89.5,  97. ,
         77.8,  89.1,  87.6,  70.6,  78.1,  74.8,  93.3,  93.9,  96.6,
         94.8,  96.4,  98.7,  98.3,  86.5,  80.3,  84.4,  89.9,  65.4,
         71. ,  56.7,  84. ,  90.7,  75. ,  64.7,  74.9,  40.3,  41.9,
         51.9,  79.8,  53.2,  92.7,  98. ,  83.5,  54. ,  42.6,  28.8,
         72.9,  65.3,  73.5,  79.7,  89.3]),
 'DIS': array([ 4.09  ,  4.9671,  6.0622,  5.9505,  6.0821,  6.3467,  6.2267,
         5.4509,  4.7075,  4.4986,  4.2579,  3.7965,  3.7979,  4.0123,
         3.9769,  4.0952,  4.3996,  4.4546,  4.682 ,  4.4534,  4.4547,
         4.239 ,  4.233 ,  4.175 ,  3.99  ,  3.7872,  3.7598,  3.9342,
         3.8473,  5.4011,  5.7209,  5.1004,  5.87  ,  6.0877,  6.8147,
         7.3197,  8.6966,  9.1876,  8.3248,  7.8148,  6.932 ,  7.2254,
         6.8185,  7.2255,  7.9809,  9.2229,  6.6115,  6.498 ,  5.2873,
         4.5026,  4.0522,  4.0905,  5.0141,  5.4007,  4.7794,  4.4377,
         4.4272,  3.4217,  3.4145,  3.0923,  3.0921,  3.6659,  3.615 ,
         3.4952,  2.7778,  2.8561,  2.7147,  2.421 ,  2.1069,  2.211 ,
         2.1224,  2.4329,  2.5451,  2.6775,  2.3534,  2.548 ,  2.2565,
         2.7474,  2.2577,  2.1974,  2.0869,  2.0063,  1.9929,  1.7883,
         1.8125,  1.9799,  2.1185,  2.271 ,  2.3274,  2.346 ,  2.1107,
         1.9669,  1.8498,  1.6687,  1.6119,  1.4394,  1.3216,  1.4118,
         1.3459,  1.4191,  1.5257,  1.5916,  1.6232,  1.7494,  1.7364,
         1.7573,  1.7659,  1.7984,  1.9709,  2.0407,  2.422 ,  2.2834,
         2.0459,  2.1   ,  2.2625,  2.4259,  2.3887,  2.5961,  2.7019,
         3.1323,  3.5549,  2.9153,  2.829 ,  2.741 ,  2.5979,  2.7006,
         2.9879,  3.2797,  3.7886,  4.5667,  6.4798,  6.2196,  5.6484,
         7.309 ,  7.6534,  6.27  ,  5.118 ,  4.2392,  3.875 ,  3.665 ,
         3.6526,  3.9454,  3.5875,  3.1121,  3.4211,  2.8893,  2.8617,
         3.048 ,  3.2721,  2.8944,  3.2157,  3.6715,  3.8384,  3.6519,
         4.148 ,  6.1899,  7.0355,  7.9549,  8.0555,  7.8265,  7.3967,
         8.9067,  9.2203,  6.3361,  1.801 ,  1.8946,  2.0107,  2.1121,
         2.1398,  2.0788,  1.9301,  1.9865,  2.4216,  2.872 ,  3.9175,
         4.429 ,  4.3665,  4.0776,  4.2673,  4.7872,  4.1403,  4.1007,
         4.6947,  5.2119,  5.885 ,  7.3073,  7.3172,  5.1167,  5.5027,
         5.9604,  7.8278,  4.022 ,  3.0992,  3.1827,  3.3175,  3.1025,
         2.5194,  2.6403,  2.834 ,  3.2628,  3.6023,  3.945 ,  4.0317,
         3.5325,  4.0019,  4.5404,  4.7211,  5.4159,  5.2146,  6.6407,
         6.4584,  5.9853,  5.2311,  5.615 ,  4.8122,  7.0379,  6.2669,
         5.7321,  8.0136,  8.5353,  8.344 , 10.7103, 12.1265, 10.5857,
         2.1222,  2.5052,  2.7227,  2.5182,  2.2955,  2.1036,  1.9047,
         1.6132,  1.7523,  1.2024,  1.1691,  1.1296,  1.1742,  1.137 ,
         1.358 ,  1.3861,  1.4165,  1.5192,  1.5804,  1.4395,  1.4261,
         1.4672,  1.5184,  1.7281,  1.9265,  2.1678,  1.77  ,  1.7257,
         1.6768,  1.6334,  1.4896,  1.5004,  1.5888,  1.639 ,  1.7028,
         1.6074,  1.4254,  1.4547,  1.413 ,  1.5275,  1.5539,  1.5894,
         1.6582,  1.8347,  1.8195,  1.6475,  1.8026,  1.794 ,  1.8589,
         1.8746,  1.9512,  2.0635,  1.9096,  1.9356,  2.0882,  2.2004,
         2.3158,  2.2222,  2.1247,  2.0026,  1.9142,  1.8206,  1.8172,
         1.9784,  1.8956,  1.9879,  2.072 ,  2.198 ,  2.2616,  2.185 ,
         2.3682,  2.4961,  2.4358,  2.5806,  2.7792,  2.7175,  2.5671,
         2.7344,  2.8016,  2.9634,  2.5403,  2.9084,  2.8237,  3.0334,
         3.0993,  2.8965,  2.4298,  2.206 ,  2.3053,  2.1007,  2.1705,
         3.4242,  3.3317,  4.0983,  3.724 ,  3.9917,  3.5459,  3.1523,
         1.8209,  1.7554,  1.8226,  1.8681,  2.1099,  2.3817,  2.7986,
         2.8927,  2.4091,  2.3999,  2.4982,  2.2875,  2.1675,  2.3889]),
 'RAD': array([ 1,  2,  3,  5,  4,  8,  6,  7, 24]),
 'TAX': array([296, 242, 222, 311, 307, 279, 252, 233, 243, 469, 226, 313, 256,
        284, 216, 337, 345, 305, 398, 281, 247, 270, 276, 384, 432, 188,
        437, 403, 193, 265, 255, 329, 402, 348, 224, 277, 300, 330, 315,
        244, 264, 223, 254, 198, 285, 293, 245, 289, 358, 304, 287, 430,
        422, 370, 352, 351, 280, 411, 187, 334, 666, 711, 391, 273]),
 'PTRATIO': array([15.3, 17.8, 18.7, 15.2, 21. , 19.2, 18.3, 17.9, 16.8, 21.1, 17.3,
        15.1, 19.7, 18.6, 16.1, 18.9, 19. , 18.5, 18.2, 18. , 20.9, 19.1,
        21.2, 14.7, 16.6, 15.6, 14.4, 12.6, 17. , 16.4, 17.4, 15.9, 13. ,
        17.6, 14.9, 13.6, 16. , 14.8, 18.4, 19.6, 16.9, 20.2, 15.5, 18.8,
        22. , 20.1]),
 'B': array([396.9 , 392.83, 394.63, 394.12, 386.63, 392.52, 390.5 , 395.62,
        386.85, 386.75, 288.99, 390.95, 376.57, 392.53, 394.54, 394.33,
        303.42, 376.88, 306.38, 387.94, 380.23, 360.17, 376.73, 232.6 ,
        358.77, 248.31, 393.43, 395.63, 385.41, 383.37, 389.39, 395.56,
        395.93, 392.9 , 390.68, 395.11, 378.08, 395.58, 393.24, 396.21,
        383.73, 376.94, 390.91, 383.23, 373.66, 386.96, 386.4 , 390.64,
        392.3 , 395.99, 396.06, 392.18, 393.55, 396.33, 357.98, 391.83,
        393.53, 394.76,  70.8 , 392.69, 394.05, 395.67, 387.69, 395.24,
        391.23, 393.49, 395.59, 394.95, 388.74, 394.51, 389.15, 377.67,
        378.09, 379.38, 385.02, 392.11, 395.04, 385.76, 262.76, 394.67,
        378.25, 394.08, 388.08, 172.91, 351.85, 341.6 , 261.95, 321.02,
         88.63, 353.89, 364.31, 338.92, 374.43, 389.61, 240.16, 369.3 ,
        297.09, 330.04, 292.29, 348.13, 393.23, 390.96, 391.27, 391.  ,
        387.11, 393.87, 382.84, 377.68, 376.7 , 394.23, 354.31, 392.2 ,
        384.3 , 393.77, 395.38, 392.78, 390.55, 381.32, 390.94, 385.81,
        348.93, 392.8 , 391.7 , 390.39, 385.05, 382.  , 372.08, 378.35,
        376.14, 385.91, 360.2 , 376.75, 390.07, 383.78, 372.75, 374.71,
        372.49, 390.18, 393.74, 396.28, 377.07, 386.09, 395.18, 386.34,
        389.7 , 383.29, 391.93, 388.37, 393.42, 387.89, 392.4 , 384.54,
        390.3 , 391.34, 388.65, 394.96, 390.77, 389.25, 387.31, 395.52,
        394.72, 371.72, 392.85, 368.24, 371.58, 390.86, 393.68, 396.24,
        350.45, 396.3 , 393.39, 395.69, 396.42, 395.21, 396.23, 391.13,
        382.44, 375.21, 394.02, 389.71, 389.4 , 394.81, 396.14, 394.74,
        389.96, 385.64, 364.61, 392.43, 370.78, 392.33, 384.46, 382.8 ,
        377.73, 395.43, 374.56, 350.65, 380.79, 353.04, 354.55, 354.7 ,
        316.03, 392.05, 366.15, 347.88, 285.83, 394.43, 378.38, 391.98,
        393.1 , 338.16, 376.11, 329.46, 384.97, 314.64,   2.6 ,  35.05,
         28.79, 210.97,  88.27,  27.25,  21.57, 127.36,  16.45,  48.45,
        318.75, 319.98, 291.55,   3.65,   7.68,  96.73,  81.33,  97.95,
        100.19, 100.63, 109.85,  27.49,   9.32,  68.95, 386.73, 240.52,
         43.06, 318.01, 388.52, 304.21, 385.09,   6.68,  50.92,  10.48,
          3.5 , 391.43, 393.82, 331.29, 368.74, 395.33, 393.37, 352.58,
        302.76, 349.48, 379.7 , 393.07, 392.92, 370.73, 388.62, 392.68,
        388.22, 395.09, 344.05, 318.43, 390.11, 393.29, 395.77, 393.45]),
 'LSTAT': array([ 4.98,  9.14,  4.03,  2.94,  5.21, 19.15, 29.93, 20.45, 13.27,
        15.71,  8.26,  8.47,  6.58, 14.67, 11.69, 11.28, 21.02, 13.83,
        18.72, 19.88, 16.3 , 16.51, 14.81, 17.28, 12.8 , 11.98, 22.6 ,
        13.04, 27.71, 18.35, 20.34,  8.77, 10.13,  4.32,  1.98,  4.84,
         5.81,  9.55, 10.21, 14.15, 30.81, 16.2 , 13.45,  5.28, 14.8 ,
         4.81,  5.77,  3.95,  6.86,  9.22, 13.15, 14.44,  6.73,  9.5 ,
         8.05,  4.67, 10.24,  8.1 , 13.09,  8.79,  6.72,  9.88,  5.52,
         8.94, 11.97, 10.27, 12.34,  5.29,  7.22,  7.51,  9.62,  6.53,
        12.86,  5.5 ,  5.7 ,  8.81,  8.2 ,  6.21, 10.59,  6.65, 11.34,
         4.21,  3.57,  6.19,  9.42,  7.67, 10.63, 12.33, 16.47, 18.66,
        14.09, 12.27, 15.55, 13.  , 10.16, 16.21, 17.09, 10.45, 10.3 ,
        14.37, 14.27, 17.93, 17.58, 17.19, 15.39, 18.34, 12.6 , 12.26,
        11.12, 17.31, 16.96, 16.9 , 14.59, 18.46, 24.16, 34.41, 26.82,